
</main>
<footer>Bajai SZC Türr István Technikum - 13.a szoftverfejlesztő</footer>

</div>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/fullcalendar.min.js"></script>
</body>
</html>