<div class="text-center">
    <h1>Üdvözöljül</h1>
<h3>Ismerje meg apikációnkat</h3>

<p class="text-justify">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia labore, a consequuntur quisquam, fugiat perferendis voluptates, error necessitatibus beatae libero minus eligendi numquam cum excepturi fuga autem quos dolor.
</p>
<p>
    ha már van fiókja, jelentkezzen be a <a href="/users/login" class="mb-3 fw-bold">bejelentkezés</a> oldalon.<br>
    Ha még nincs fiókja, regisztráljon a <a href="/users/registration" class=" fw-bold">regisztráció</a> oldalon.
</p>
<h5>Üdvözlettel: A 13. szoftverfejlesztők</h5>
</div>